export STORYBOOK_MAPBOX_TOKEN=
export NEXT_PUBLIC_MAPBOX_TOKEN=

# Prod
export STORYBOOK_WEBCOOS_API_TOKEN=
export NEXT_PUBLIC_WEBCOOS_API_TOKEN=
export NEXT_PUBLIC_WEBCOOS_API_URL=https://app.webcoos.org/webcoos/api

# Stage
# export STORYBOOK_WEBCOOS_API_TOKEN=
# export NEXT_PUBLIC_WEBCOOS_API_TOKEN=
# export NEXT_PUBLIC_WEBCOOS_API_URL=https://app.stage.webcoos.org/webcoos/api
