export NEXT_PUBLIC_MAPBOX_TOKEN=
export STORYBOOK_MAPBOX_TOKEN=

# Prod
export NEXT_PUBLIC_WEBCOOS_API_TOKEN=
export STORYBOOK_WEBCOOS_API_TOKEN=

# Stage
export NEXT_PUBLIC_WEBCOOS_API_TOKEN=
export STORYBOOK_WEBCOOS_API_TOKEN=
